:root {
  --toolbar-bgcolor: #222 !important;
  --arrowpanel-background: #333 !important;
}

#webrtcIndicator {
  display: none !important;
}

#contentAreaContextMenu #context-navigation {
  &, & + menuseparator {
    display: none;
  }
}

#navigator-toolbox {
  background-color: black !important;
}

#TabsToolbar tab[selected="true"] .tab-background {
  background-color: var(--toolbar-bgcolor) !important;
}

#vertical-tabs .tabbrowser-tab {
  padding-block: 0 !important;
}

#urlbar-background {
  background-color: #333 !important;
}


#BMB_searchBookmarks,
#BMB_bookmarksToolbar,     #BMB_bookmarksToolbar     + menuseparator,
#BMB_viewBookmarksSidebar, #BMB_viewBookmarksSidebar + menuseparator,
#BMB_bookmarksShowAll,     #BMB_bookmarksShowAll     + menuseparator,
#BMB_bookmarksShowAllTop,  #BMB_bookmarksShowAllTop  + menuseparator,
menuseparator:has(+ #BMB_bookmarksShowAll)
{
  display: none !important;
}

.bookmark-item, .openintabs-menuitem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}


#unified-extensions-view {
  width: min-content !important;
  text-wrap: nowrap;
  --uei-icon-size: 16px;
}

#unified-extensions-view .panel-header {
  &, & + toolbarseparator {
    display: none !important;
  }
}

.unified-extensions-item-message-deck {
  display: none;
}


hbox[aria-label="Always Open Site in Container"] {
  display: none;
}
