# vim: noet

[submodule "git-diff-blame"]
	path = extern/git-diff-blame
	url = https://github.com/dmnd/git-diff-blame.git
	shallow = true
	ignore = all
[submodule "git-fmt-diff"]
	path = extern/git-fmt-diff
	url = https://github.com/Jorenar/git-fmt-diff.git
	shallow = true
	ignore = all
[submodule "git-open"]
	path = extern/git-open
	url = https://github.com/paulirish/git-open.git
	shallow = true
	ignore = all
[submodule "klipmenu"]
	path = extern/klipmenu
	url = https://github.com/Jorenar/klipmenu.git
	shallow = true
	ignore = all
[submodule "ls.hidden"]
	path = extern/ls.hidden
	url = https://github.com/Jorenar/ls.hidden.git
	shallow = true
	ignore = all
[submodule "lsix"]
	path = extern/lsix
	url = https://github.com/hackerb9/lsix.git
	shallow = true
	ignore = all
[submodule "minpac"]
	path = config/vim/pack/extern/opt/minpac
	url = https://github.com/k-takata/minpac.git
	shallow = true
	ignore = all
[submodule "pathmunge.sh"]
	path = extern/pathmunge.sh
	url = https://github.com/Jorenar/pathmunge.sh.git
	shallow = true
	ignore = all
[submodule "tmux-matryoshka"]
	path = config/tmux/plugins/tmux-matryoshka
	url = https://github.com/niqodea/tmux-matryoshka.git
	shallow = true
	ignore = all
[submodule "tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	shallow = true
	ignore = all
