# vim: noet

[submodule "ale"]
	path = config/vim/pack/extern/start/ale
	url = https://github.com/dense-analysis/ale.git
	shallow = true
	ignore = all
[submodule "asyncrun.vim"]
	path = config/vim/pack/extern/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
	shallow = true
	ignore = all
[submodule "conflict-marker.vim"]
	path = config/vim/pack/extern/start/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim.git
	shallow = true
	ignore = all
[submodule "ctrlp.vim"]
	path = config/vim/pack/extern/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	shallow = true
	ignore = all
[submodule "diffconflicts"]
	path = config/vim/pack/extern/start/diffconflicts
	url = https://github.com/whiteinge/diffconflicts.git
	shallow = true
	ignore = all
[submodule "exrc.vim"]
	path = config/vim/pack/extern/start/exrc.vim
	url = https://github.com/ii14/exrc.vim.git
	shallow = true
	ignore = all
[submodule "fauxClip"]
	path = config/vim/pack/extern/start/fauxClip
	url = https://github.com/Jorenar/fauxClip.git
	shallow = true
	ignore = all
[submodule "gv.vim"]
	path = config/vim/pack/extern/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
	shallow = true
	ignore = all
[submodule "indent-sh.vim"]
	path = config/vim/pack/extern/start/indent-sh.vim
	url = https://github.com/Clavelito/indent-sh.vim.git
	shallow = true
	ignore = all
[submodule "miniSnip"]
	path = config/vim/pack/extern/start/miniSnip
	url = https://github.com/Jorenar/miniSnip.git
	shallow = true
	ignore = all
[submodule "NrrwRgn"]
	path = config/vim/pack/extern/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
	shallow = true
	ignore = all
[submodule "tagbar"]
	path = config/vim/pack/extern/start/tagbar
	url = https://github.com/preservim/tagbar.git
	shallow = true
	ignore = all
[submodule "textobj-word-column.vim"]
	path = config/vim/pack/extern/start/textobj-word-column.vim
	url = https://github.com/coderifous/textobj-word-column.vim.git
	shallow = true
	ignore = all
[submodule "traces.vim"]
	path = config/vim/pack/extern/start/traces.vim
	url = https://github.com/markonm/traces.vim.git
	shallow = true
	ignore = all
[submodule "undotree"]
	path = config/vim/pack/extern/start/undotree
	url = https://github.com/mbbill/undotree.git
	shallow = true
	ignore = all
[submodule "vim-abolish"]
	path = config/vim/pack/extern/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	shallow = true
	ignore = all
[submodule "vim-bookmarks"]
	path = config/vim/pack/extern/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
	shallow = true
	ignore = all
[submodule "vim-bufsurf"]
	path = config/vim/pack/extern/start/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
	shallow = true
	ignore = all
[submodule "vim-commentary"]
	path = config/vim/pack/extern/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	shallow = true
	ignore = all
[submodule "vim-emacsModeline"]
	path = config/vim/pack/extern/start/vim-emacsModeline
	url = https://github.com/Jorenar/vim-emacsModeline.git
	shallow = true
	ignore = all
[submodule "vim-eunuch"]
	path = config/vim/pack/extern/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	shallow = true
	ignore = all
[submodule "vim-fugitive"]
	path = config/vim/pack/extern/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
	ignore = all
[submodule "vim-fugitive-blame-ext"]
	path = config/vim/pack/extern/start/vim-fugitive-blame-ext
	url = https://github.com/tommcdo/vim-fugitive-blame-ext.git
	shallow = true
	ignore = all
[submodule "vim-lua"]
	path = config/vim/pack/extern/start/vim-lua
	url = https://github.com/tbastos/vim-lua.git
	shallow = true
	ignore = all
[submodule "vim-prettyprint"]
	path = config/vim/pack/extern/start/vim-prettyprint
	url = https://github.com/thinca/vim-prettyprint.git
	shallow = true
	ignore = all
[submodule "vim-qf"]
	path = config/vim/pack/extern/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
	shallow = true
	ignore = all
[submodule "vim-repeat"]
	path = config/vim/pack/extern/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	shallow = true
	ignore = all
[submodule "vim-rsi"]
	path = config/vim/pack/extern/start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
	shallow = true
	ignore = all
[submodule "vim-signify"]
	path = config/vim/pack/extern/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
	shallow = true
	ignore = all
[submodule "vim-slime"]
	path = config/vim/pack/extern/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
	shallow = true
	ignore = all
[submodule "vim-SQL-UPPER"]
	path = config/vim/pack/extern/start/vim-SQL-UPPER
	url = https://github.com/Jorenar/vim-SQL-UPPER.git
	shallow = true
	ignore = all
[submodule "vim-surround"]
	path = config/vim/pack/extern/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true
	ignore = all
[submodule "vim-syntaxMarkerFold"]
	path = config/vim/pack/extern/start/vim-syntaxMarkerFold
	url = https://github.com/Jorenar/vim-syntaxMarkerFold.git
	shallow = true
	ignore = all
[submodule "vim-tex-syntax"]
	path = config/vim/pack/extern/start/vim-tex-syntax
	url = https://github.com/gi1242/vim-tex-syntax.git
	shallow = true
	ignore = all
[submodule "vim-visual-multi"]
	path = config/vim/pack/extern/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
	shallow = true
	ignore = all
[submodule "wrapwidth"]
	path = config/vim/pack/extern/start/wrapwidth
	url = https://github.com/rickhowe/wrapwidth.git
	shallow = true
	ignore = all

[submodule "vim-lsp"]
	path = config/vim/pack/extern/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
	shallow = true
	ignore = all
[submodule "vim-lsp-ale"]
	path = config/vim/pack/extern/opt/vim-lsp-ale
	url = https://github.com/rhysd/vim-lsp-ale.git
	shallow = true
	ignore = all

[submodule "cscope_maps.nvim"]
	path = config/nvim/pack/extern/start/cscope_maps.nvim
	url = https://github.com/dhananjaylatkar/cscope_maps.nvim.git
	shallow = true
	ignore = all
[submodule "nvim-dap"]
	path = config/nvim/pack/extern/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
	shallow = true
	ignore = all
[submodule "nvim-dap-disasm"]
	path = config/nvim/pack/extern/start/nvim-dap-disasm
	url = https://github.com/Jorenar/nvim-dap-disasm.git
	shallow = true
	ignore = all
[submodule "nvim-dap-ui"]
	path = config/nvim/pack/extern/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
	shallow = true
	ignore = all
[submodule "flatten.nvim"]
	path = config/nvim/pack/extern/start/flatten.nvim
	url = https://github.com/willothy/flatten.nvim.git
	shallow = true
	ignore = all
[submodule "goto-preview"]
	path = config/nvim/pack/extern/start/goto-preview
	url = https://github.com/rmagatti/goto-preview.git
	shallow = true
	ignore = all
[submodule "mason.nvim"]
	path = config/nvim/pack/extern/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
	shallow = true
	ignore = all
[submodule "mason-nvim-dap.nvim"]
	path = config/nvim/pack/extern/start/mason-nvim-dap.nvim
	url = https://github.com/jay-babu/mason-nvim-dap.nvim.git
	shallow = true
	ignore = all
[submodule "nvim-nio"]
	path = config/nvim/pack/extern/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
	shallow = true
	ignore = all
[submodule "nvim-lspconfig"]
	path = config/nvim/pack/extern/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	shallow = true
	ignore = all
[submodule "plenary.nvim"]
	path = config/nvim/pack/extern/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
	shallow = true
	ignore = all
[submodule "sonarlint.nvim"]
	path = config/nvim/pack/extern/start/sonarlint.nvim
	url = https://gitlab.com/schrieveslaach/sonarlint.nvim.git
	shallow = true
	ignore = all
[submodule "sqls.nvim"]
	path = config/nvim/pack/extern/start/sqls.nvim
	url = https://github.com/nanotee/sqls.nvim.git
	shallow = true
	ignore = all
[submodule "vimterm.nvim"]
	path = config/nvim/pack/extern/start/vimterm.nvim
	url = https://github.com/VioletJewel/vimterm.nvim.git
	shallow = true
	ignore = all

[submodule "tmux-matryoshka"]
	path = config/tmux/plugins/tmux-matryoshka
	url = https://github.com/niqodea/tmux-matryoshka.git
	shallow = true
	ignore = all
[submodule "tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	shallow = true
	ignore = all

[submodule "git-diff-blame"]
	path = extern/git-diff-blame
	url = https://github.com/dmnd/git-diff-blame.git
	shallow = true
	ignore = all
[submodule "git-fmt-diff"]
	path = extern/git-fmt-diff
	url = https://github.com/Jorenar/git-fmt-diff.git
	shallow = true
	ignore = all
[submodule "git-open"]
	path = extern/git-open
	url = https://github.com/paulirish/git-open.git
	shallow = true
	ignore = all
[submodule "klipmenu"]
	path = extern/klipmenu
	url = https://github.com/Jorenar/klipmenu.git
	shallow = true
	ignore = all
[submodule "ls.hidden"]
	path = extern/ls.hidden
	url = https://github.com/Jorenar/ls.hidden.git
	shallow = true
	ignore = all
[submodule "lsix"]
	path = extern/lsix
	url = https://github.com/hackerb9/lsix.git
	shallow = true
	ignore = all
[submodule "pathmunge.sh"]
	path = extern/pathmunge.sh
	url = https://github.com/Jorenar/pathmunge.sh.git
	shallow = true
	ignore = all
