# vim: ft=sshconfig

Host *
    IdentityFile ${XDG_DATA_HOME}/ssh/id_rsa
    UserKnownHostsFile ${XDG_DATA_HOME}/ssh/known_hosts
    Include ~/.local/.dotfiles/.host/ssh/config

Host *
    Compression yes

Host aur.archlinux.org
    IdentityFile ${XDG_DATA_HOME}/ssh/aur
    User aur
