snippet hello_world
#include <stdio.h>

int main()
{
	printf("Hello World!");
	return 0;
}
endsnippet

snippet main
int main(int argc, char *argv[])
{

}
endsnippet

snippet multi_macro
#define TEST(${1:variables}) do { ${2:code} } while(0) // never add ';' after "while(0)"
endsnippet

snippet swap_no_temp
${1:a} += ${2:b};
$2 = $1 - $2;
$1 -= $2;
endsnippet

snippet char_for
for (char *${1:x} = ${2:str}; *$1; ++$1)
endsnippet
