snippet hello_world
#include <stdio.h>

int main()
{
	printf("Hello World!");
	return 0;
}
endsnippet

snippet main
int main(int argc, char *argv[])
{

}
endsnippet

snippet multi_macro
#define TEST(${1:variables}) do { ${2:code} } while(0) // never add ';' after "while(0)"
endsnippet
