extends c, obj-c
priority 1

snippet beginend "$1.begin(), $1.end()"
${1:v}.begin(), $1.end()
endsnippet

snippet cl "class .."
class ${1:Class_name} {
  public:
	$1($2);
	~$1();

  private:
	${0:/* data */}
};
endsnippet

snippet hello_world
#include <iostream>

int main()
{
	std::cout << "Hello World" << std::endl;
	return 0;
}
endsnippet
