snippet cl "console.log(...)"
console.log($0);
endsnippet

snippet uncpack_element
$('${1:element}').each(function(){
	let $1_children = $(this).contents();
	$(this).replaceWith($1_children);
});
endsnippet

snippet userscript_header
// ==UserScript==
// @name         $1
// @description  $2
// @author       $3
// @namespace    $4
// @version      ${5:0.1}
// @run-at       ${6:document-end}
// @include      $7
// ==/UserScript==
endsnippet
