[Unit]
Description=CommaFeed

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=java -jar ${XDG_DATA_HOME}/java/commafeed.jar server ${XDG_CONFIG_HOME}/commafeed.yml

[Install]
WantedBy=default.target
