[Unit]
Description=EasyEffects service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
ExecStart=/usr/bin/easyeffects --hide-window --service-mode
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
