[Desktop Entry]
Name=KanjiTomo
Comment=Identify Japanese characters from images or screen
Exec=kanjitomo
Terminal=false
Type=Application
Categories=Education
Icon=kanjitomo
