input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']) {
  -moz-appearance: none !important;
  background-color: white;
  color: black;
}

/*
textarea {
  -moz-appearance: none !important;
  background-color: white !important;
  color: black !important;
}

select {
  -moz-appearance: none !important;
  background-color: white;
  color: black;
}
*/
