
#webrtcIndicator {
  display: none !important;
}

#navigator-toolbox {
  background-color: black !important;
}

#BMB_searchBookmarks,
#BMB_bookmarksToolbar,     #BMB_bookmarksToolbar     + menuseparator,
#BMB_viewBookmarksSidebar, #BMB_viewBookmarksSidebar + menuseparator,
#BMB_bookmarksShowAll,     #BMB_bookmarksShowAll     + menuseparator,
#BMB_bookmarksShowAllTop,  #BMB_bookmarksShowAllTop  + menuseparator
{
  display: none !important;
}

:root {
  --toolbar-bgcolor: #222 !important;
}

.titlebar-color {
  background-color: black;
}

.tab-background {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  background-image: none !important;
}

tab[selected="true"] .tab-background {
  background-color: var(--toolbar-bgcolor) !important;
}

#urlbar-background {
  background-color: #333 !important;
}

.bookmark-item, .openintabs-menuitem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

#unified-extensions-button {
  display: none !important;
}

#contentAreaContextMenu #context-navigation {
  display: none !important;
}

.urlbarView-row[dynamicType="onboardTabToSearch"] {
  display: none;
}

#tabbrowser-tabs {
  border-inline-start: initial !important;
}

#BMB_bookmarksPopup menuitem .menu-iconic-left {
  visibility: hidden;
  position: relative;
}

#BMB_bookmarksPopup menuitem .menu-iconic-left:after {
  content: url("chrome://browser/skin/bookmark.svg");
  visibility: visible;
  position: absolute;
  left: 0;
}
